<a href="https://colab.research.google.com/github/Jaiwin7/PythonPublic/blob/main/PythonassignmentDay2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
List_of_glasses = ['Fastrack','Ray-Ban','Vogue','Rolex','Titan']
List_of_watches = ['Swatch','Fossil','Fastrack','Rolex','Casio','Titan']

In [2]:
List_of_glasses

['Fastrack', 'Ray-Ban', 'Vogue', 'Rolex', 'Titan']

In [3]:
List_of_watches

['Swatch', 'Fossil', 'Fastrack', 'Rolex', 'Casio', 'Titan']

In [4]:
List_of_overlapping = [value for value in List_of_glasses if value in List_of_watches]
List_of_overlapping

['Fastrack', 'Rolex', 'Titan']

In [5]:
start, end = 20, 40

print('All even number in the range')

for num in range(start, end + 1):
    if num % 2 == 0:
        print(num, end = " ")

All even number in the range
20 22 24 26 28 30 32 34 36 38 40